<nav class="navbar navbar-dark bg-warning">
  <a class="navbar-brand" href="/">
    ANGULAR CRUD DE PRODUCTOS-HUALLPA REBECA
  </a>
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMT82LjktMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />

</nav>

<body>
  
<div class="container">

  <div class="view-header">
    <div class="pull-right text-right" style="line-height: 14px">
      
    </div>
    <div class="header-icon">
      <i class="pe page-header-icon pe-7s-shield"></i>
    </div>
    <div class="header-title">
      <h3 class="m-b-xs ">LUNA ADMIN-CRUD PRODUCTOS-HUALLPA REBECA</h3>
      <small>
        Special minimal admin theme with Dark UI style for monitoring or administration web applications.
      </small>
    </div>
  </div>
  <hr>

  <div class="row">

    <div class="col-md-8 mt-4">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>

          <tr
          *ngFor="let producto of productoArray"
          (click)="openForEdit(producto)"
          [class.selected]="producto == selectedProducto"
        >
          <td><span class="badge badge-primary" style="background-color: #4538bb; color: rgb(218, 199, 199);">{{producto.codigo}}
          </span></td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.precio}}</td>
        </tr>

        </tbody>
      </table>

      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insertar un nuevo producto
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedProducto.descripcion" placeholder="Insertar la descripción" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" [(ngModel)]="selectedProducto.precio" placeholder="Insertar el precio" class="form-control">
          </div>

          <button (click)="addOrEdit()" class="btn btn-warning mt-2">
            CREAR Y EDITAR PRODUCTO
          </button>
          
          <div class="mt-2"></div> <!-- Agrega un espacio entre los botones -->
          <button *ngIf="selectedProducto.codigo !== 0" (click)="delete()" class="btn btn-danger mt-2">
            ELIMINAR
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
