<p>dashboard-luna works!</p>

<div class="container">
  <!-- Encabezado de la página -->
  <div class="view-header">
    <div class="pull-right text-right" style="line-height: 14px">
      <small>Luna Admin Theme<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
    </div>
    <div class="header-icon">
      <i class="pe page-header-icon pe-7s-shield"></i>
    </div>
    <div class="header-title">
      <h3 class="m-b-xs">LUNA ADMIN-CRUD PRODUCTOS-HUALLPA REBECA</h3>
      <small>
        Special minimal admin theme with Dark UI style for monitoring or administration web applications.
      </small>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-xs-12">
      <!-- Contenido de la columna aquí -->
    </div>
    <!-- Agrega más columnas o contenido según sea necesario -->
  </div>
</div>
